body, html    { overflow: hidden; height: 100%; vertical-align: middle; margin: 0px; font-family: Geneva,Arial,Helvetica,sans-serif; font-size: 12pt; }
a	      { text-decoration: none !important; }

/* header */
#header	      { overflow: hidden; color: #FFE080; border-bottom: 1px solid; height: 20px; width: 100%; background-color: #03004D; padding: 5px; }
#header a     { color: #FFC200; }
#main-menu    { float: left;  margin-left:   5px; height: 100%; vertical-align: middle; }
#title	      { float: right; margin-right: 15px; font-size: 18px; }

/* main */
#main	      { overflow: hidden; color: #03004D; height: 80%; width: 100%; background-color: gray; padding: 0px; }
#map-menu     { background-color: #E6E6FF; width: 20%; height: 100%; float: left; display: block; font-size: 12px;}
#map-menu h3  { color: #03004D; font-size: 12px; }
#map-menu ul  { background-color: #E6E6FF; }
#loading      { color: #ff0000; font-size: 14px; width: 100%; text-align: center; margin-top: 50px; }
#map	      { background-color: #03004D; width: 80%; height: 81%; float: right; }

/* timeline */
/* #timemap      { padding: lem; } */
#timelinecontainer      { width: 100%; height: 80px; }
#timeline     { width: 100%; height: 100%; font-size: 12px; background: #CCCCCC; }
#mapcontainer { width: 100%; height: 100%; }

/* footer */
#footer	      { overflow: hidden; color: #FFE080; border-top: 1px solid; bottom: 0px; height: 24px; width: 100%; background-color: #03004D; padding: 5px; }
#footer	a     { color: #FFC200; }
#copyright    { float: left;  margin-left:   5px; height: 100%; vertical-align: middle; }
#logos	      { float: right; margin-right: 15px; }
#logos img    { border: none; height: 28px; }
